name: Release

on:
  push:
    branches:
      - main
      - rc/*

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            suffix: x86_64-linux
          - os: macOS-latest
            suffix: x86_64-osx

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      # Do a dry-run release in order to update package.yaml before compilation,
      # in case there's a --version subcommand.
      - uses: cycjimmy/semantic-release-action@v4
        with:
          dry_run: true
          extra_plugins: |
            conventional-changelog-conventionalcommits
            @semantic-release/exec
        env:
          FORCE_COLOR: 1
          GITHUB_TOKEN: ${{ github.token }}

      - uses: freckle/stack-cache-action@v2
      - uses: r-lib/actions/setup-pandoc@v2
      - if: ${{ runner.os == 'macOS' }}
        run: |
          # stack was removed in macOS-14 which is now latest
          # https://discourse.haskell.org/t/github-hosted-runner-for-macos-aarch64/8717/16
          curl -sSL https://get.haskellstack.org/ | sh

          brew install coreutils make
          echo '/opt/homebrew/opt/make/libexec/gnubin' >>"$GITHUB_PATH"
          echo '/usr/local/opt/make/libexec/gnubin' >>"$GITHUB_PATH"
      - run: |
          make install.check PANDOC=pandoc
          cp -v dist/haskell-cli-template.tar.gz haskell-cli-template-${{ matrix.suffix }}.tar.gz
      - uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.os }}-binaries
          path: "haskell-cli-template-*.tar.gz"
          if-no-files-found: error

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
      - id: release
        uses: cycjimmy/semantic-release-action@v4
        with:
          extra_plugins: |
            conventional-changelog-conventionalcommits
            @semantic-release/exec
        env:
          FORCE_COLOR: 1
          GITHUB_TOKEN: ${{ github.token }}
